RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Frontend rules
RewriteRule ^berita/([a-zA-Z0-9-]+)$ detail-berita.php?slug=$1 [L]
RewriteRule ^berita/?$ berita.php [L]
RewriteRule ^umkm/([a-zA-Z0-9-]+)$ detail-umkm.php?slug=$1 [L]
RewriteRule ^umkm/?$ umkm.php [L]
RewriteRule ^layanan/([a-zA-Z0-9-]+)$ detail-layanan.php?slug=$1 [L]
RewriteRule ^layanan/?$ layanan.php [L]
RewriteRule ^galeri/?$ galeri.php [L]
RewriteRule ^aparatur/?$ pegawai.php [L]
RewriteRule ^profil/?$ profil.php [L]
RewriteRule ^kontak/?$ kontak.php [L]
RewriteRule ^faq/?$ faq.php [L]
RewriteRule ^sitemap\.xml$ sitemap.php [L]

# File caching
<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType image/jpg "access plus 1 year"
  ExpiresByType image/jpeg "access plus 1 year"
  ExpiresByType image/gif "access plus 1 year"
  ExpiresByType image/png "access plus 1 year"
  ExpiresByType text/css "access plus 1 month"
  ExpiresByType application/pdf "access plus 1 month"
  ExpiresByType text/javascript "access plus 1 month"
  ExpiresByType application/javascript "access plus 1 month"
</IfModule>
